@model Forum95.Models.ViewModel.IndexViewModel;
@{
    ViewData["Title"] = "Home Page";
}
<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Forum95</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    @if(@Model.EmailIdentity==null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogIn">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SingUp">Sing Up</a>
                        </li>
                    }else
                    {
                        <li class="nav-item">
                            <div class="nav-link text-dark">Hello, @Model.EmailIdentity</div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AddPost">Add post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    }        
                    </ul>
                </div>
            </div>
        </nav>
</header>
     <div class="container">
        <main role="main" class="pb-3">
            @foreach(var post in Model.Posts)
            {
                <div class="">
                    <h4>@post.User.UserName</h4>         
                    <p><a href="#">@post.Theme.ThemeName</a></p>
                    <h5>@post.Title</h5>
                    <p>@post.Text</p>
                    @if(@Model.EmailIdentity==post.User.Email)
                    {
                       <a asp-controller="Home" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-primary">Edit post</a>
                       <a asp-controller="Data" asp-action="DeletePost" asp-route-id="@post.Id" class="btn btn-primary">Delete post</a>
                    } 
                </div>
            }
        </main>
    </div>